body {
  /* background-color: #FFECC2; */
  background-image: url('../assets/background.png');
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat; 
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}