.delete-concentration {
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxl);
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  padding: var(--spacing-xxl);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  margin: var(--spacing-xxl) auto;
}